body {
	width: 80vw;
	margin: 5rem auto;
	font-size: 1.75rem;
	font-family: 'Open Sans', sans-serif;
	color: dimgrey;
	background-image: url(/img/texture.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

header h1 a {
	font-family: 'Bad Script', cursive;
	color: black;
	text-decoration: none;
	font-size: 4rem;
	font-weight: 600;
}

header nav ul {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

header nav ul li {
	margin-top: 1rem;
}

header nav ul li a {
	color: black;
	text-decoration: none;
	padding-bottom: 2rem;
}

header nav ul li a.selected {
	border-bottom: 2px solid black;
}

header {
	margin-bottom: 5rem;
}

main h2 {
	font-size: 2.25rem;
	font-weight: 900;
	margin-bottom: 3rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-bottom: 2px solid dimgrey;
	padding-bottom: 2rem;
}

main p {
	line-height: 3rem;
	margin-bottom: 3rem;
}

img {
	width: auto;
	height: 200px;
}

main img {
	display: block;
	margin-bottom: 1rem;
}

main h4 {
	margin-top: 3rem;
}

main .werkjes a {
	display: block;
  break-inside: avoid;
  text-decoration: none;
  color: black;
	padding-bottom: 7rem;
}

main h3 {
	font-size: 1.5rem;
	letter-spacing: 3px;
	font-weight: 600;
	margin-bottom: 3rem;
}

main ul.blog li a {
	color: firebrick;
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	margin-bottom: 5rem;
}

@media (min-width: 800px) {
	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40rem;
		margin-top: 0;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 5.5rem;
		right: 10vw;
	}

	.werkjes {
		column-count: 2;
	}
}

@media (min-width: 1100px){
	.werkjes {
		column-count: 3;
	}
}
